extends ../layouts/page.pug
block content
	h1 New user
	form(method='POST' action='/user/add')
		input(name='name' placeholder='name')
		br
		br
		input(name='age' placeholder='age')
		br
		br
		input(type='submit' value='Add')