extends ../layouts/page.pug
block content
	h1 Update post
	form(method='POST' action='/post/patch/'+_id)
		input(name='title' placeholder='title' value=''+title)
		br
		br
		input(name='description' placeholder='description' value=''+description)
		br
		br
		textarea(name='body' id='' cols='50' rows='10') #{body}
		br
		br
		input(type='submit' value='Update')

	a(href='/post/delete/'+_id) Remove