extends ../layouts/page.pug
block content
	h1 Update user
	form(method='POST' action='/user/patch/'+_id)
		input(name='name' placeholder='name' value=''+name)
		br
		br
		input(name='age' placeholder='age' value=''+age)
		br
		br
		input(type='submit' value='Update')

	a(href='/user/delete/'+_id) Remove