footer#footer
  p Copyright (c) foobar
  script(src='/assets/js/jquery.slim.min.js')
  script(src='/assets/js/popper.min.js')
  script(src='/assets/js/bootstrap.bundle.min.js')
  script(src='/assets/js/fetch.js')
  script(crossorigin='' src='/assets/js/react.production.min.js')
  script(crossorigin='' src='/assets/js/react-dom.production.min.js')
  script(src='/assets/js/babel.min.js')